{% extends "base.html" %}
{% block title %}CodeBuzz - View Profile{% endblock %}
{% block body %}
    {% if userView %}
        <h3><label for="name">Profile for </label>{{ userView.username }}</h3>
        <p>Joined: {{ userView.date_joined }}</p>
        <p>Last seen: {{ userView.last_login }}</p>
<!-- Bookmark-related code -->
	{% if user %}
		{% ifequal user.username userView.username %}
            <p>Your bookmarks</p>
        {% else %}
            <p>{{ userView.username }}'s bookmarks</p>
        {% endifequal %}
    {% endif %}
    {% if bookmarks %}
        <ul>
            {% for bookmark in bookmarks %}
                <li>{{ bookmark.snippet.name }}</li>
            {% endfor %}
        </ul>
    {% endif %}
<!-- Snippet-related code -->
	{% if user %}
		{% ifequal user.username userView.username %}
            <p>Your snippets</p>
        {% else %}
            <p>{{ userView.username }}'s snippets</p>
        {% endifequal %}
    {% endif %}
    {% if snippets %}
        <ul>
            {% for snippet in snippets %}
                <li><a href="/codesnippet/view/{{ snippet.id }}">{{ snippet.name }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
<!-- Language relataed code -->
    {% if languages %}
        {% if user %}
            {% ifequal user.username userView.username %}
                <p>Your languages</p>
            {% else %}
                <p>{{ userView.username }}'s languages</p>
            {% endifequal %}
        {% endif %}
        {% for language in languages %}
            <p>{{ language }}</p>
        {% endfor %}
    {% endif %}
    {% elif errors %}
        <h5>Errors:</h5>
        <ul>
            {% for err in errors %}
                <li class="error">{{ err }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}