{% extends "base.html" %}
{% block title %}CodeBuzz - View Profile{% endblock %}
{% block body %}
    {% if userView %}
        <h3><label for="name">Profile for </label>{{ userView.username }}</h3>
        <p>Joined: {{ userView.date_joined }}</p>
        <p>Last seen: {{ userView.last_login }}</p>
<!-- General-info-related code -->
	{% if user %}
		{% ifequal user.username userView.username %}
            <p>You have contributed {{snippets|length}} snippets in {{languages|length}} languages.</p>
        {% else %}
            <p>{{ userView.username }} has contributed {{snippets|length}} snippets in {{languages|length}} languages.</p>
        {% endifequal %}
    {% endif %}
<!-- Bookmark-related code -->
    {% if bookmarks %}
        <p>Bookmarks</p>
        <ul>
            {% for bookmark in bookmarks %}
                <li><a href="/codesnippet/view/{{ bookmark.snippet.id}}">{{ bookmark.snippet.name }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
<!-- Snippet-related code -->
    {% if snippets %}
        <p>Most Recent Snippets</p>
        <ul>
            {% for snippet in snippets %}
                <li><a href="/codesnippet/view/{{ snippet.id }}">{{ snippet.name }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
<!-- Top-snippet-related code -->
    {% if topSnippets %}
        <p>Highest Rated Snippets</p>
        <ul>
            {% for snippet in topSnippets %}
                <li><a href="/codesnippet/view/{{ snippet.0.id }}">{{ snippet.0 }} - Rating: {{snippet.1}}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
<!-- Language related code -->
    {% if languages %}
        <p>Languages</p>
        <ul>
        {% for language in languages %}
            <li><a href="/codesnippet/browse/language/{{language}}">{{ language }}</a></li>
        {% endfor %}
        </ul>
    {% endif %}
    {% elif errors %}
        <h5>Errors:</h5>
        <ul>
            {% for err in errors %}
                <li class="error">{{ err }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
