{% extends "base.html" %}
{% block title %}
    CodeBuzz - Advanced Search
{% endblock %}
{% block head_includes %}
    {% load staticfiles %}
    <script src="{% static "js/lib/codemirror.js" %}"></script>
    <script src="{% static "js"%}/mode/codemirror-compressed.js"></script>
{% endblock %}
{% block body %}
    <h3>Advanced Search</h3>
    {% if errors %}
        <h5>Errors:</h5>
        <ul>
            {% for err in errors %}
                <li class="error">{{ err }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if form %}
        <form method="post" action="/codesnippet/advanced_search/">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" name="submit" value="Search"/>
        </form>
    {% endif %}
{% endblock %}
