{% extends "base.html" %}
{% block title %}CodeBuzz - Browse Snippets{% endblock %}
{% block head_includes %}
	{% load staticfiles %}
{% endblock %}
{% block body %}
<h3>Browse Snippets by Language or Category</h3>
<h5 class="navigation">Languages</h5>
{% if languages %}
    <ol>
        {% for language in languages %}
            <li><a href="">{{ language}}</a></li>
        {% endfor %}
    </ol>
{% endif %}
<h5 class="navigation">Categories</h5>
<ol>
	<li><a href="">Category</a></li>
	<li><a href="">Category</a></li>
	<li><a href="">Category</a></li>
	<li><a href="">Category</a></li>
	<li><a href="">Category</a></li>
</ol>
{% endblock %}