{% extends "base.html" %}
{% block title %}CodeBuzz - Browse {{language.capitalize}}{% endblock %}
{% block head_includes %}
	{% load staticfiles %}
{% endblock %}
{% block body %}
<h3>{{category.capitalize}} Snippets</h3>
<h5 class="navigation">Snippets</h5>
{% if snippets %}
    <ol>
        {% for snippet in snippets %}
            <li><a href="/codesnippet/view/{{snippet.id}}">{{snippet.name}} in {{snippet.language}}</a></li>
        {% endfor %}
    </ol>
{% else %}
    <p>No {{category.capitalize}} snippets added yet.</p>
{% endif %}
{% endblock %}