{% extends "base.html" %}
{% block title %}CodeBuzz - Browse Snippets{% endblock %}
{% block head_includes %}
	{% load staticfiles %}
{% endblock %}
{% block body %}
<h3>Browse Snippets by Language or Category</h3>
<h5 class="navigation">Languages</h5>
{% if languages %}
    <ol>
        {% for language in languages %}
            <li><a href="language/{{language}}">{{ language}}</a></li>
        {% endfor %}
    </ol>
{% endif %}
{% if categories %}
    <h5 class="navigation">Categories</h5>
    <ol>
        {% for category in categories %}
            <li><a href="category/{{category.name}}">{{category.name}}</a></li>
        {% endfor %}
    </ol>
{% endif %}
{% endblock %}