{% extends "base.html" %}
{% block title %}CodeBuzz - Top Snippets{% endblock %}
{% block head_includes %}
	{% load staticfiles %}
{% endblock %}
{% block body %}
<p>Currently looks like an extension of side bar. How do we want this to </p>
<h5 class="navigation">Top C Snippets</h5>
<ol>
	<li><a href="">Snippet</a></li>
	<li><a href="">Snippet</a></li>
	<li><a href="">Snippet</a></li>
	<li><a href="">Snippet</a></li>
	<li><a href="">Snippet</a></li>
</ol>
<h5 class="navigation">Top Java Snippets</h5>
<ol>
	<li><a href="">Snippet</a></li>
	<li><a href="">Snippet</a></li>
	<li><a href="">Snippet</a></li>
	<li><a href="">Snippet</a></li>
	<li><a href="">Snippet</a></li>
</ol>
{% endblock %}