{% extends "base.html" %}
{% block title %}CodeBuzz - {{ snippet.name.capitalize }} by
    {% if snippet.user %}
        {{ snippet.user }}
    {% else %}
        Anonymous
    {% endif %}
{% endblock %}
{% block head_includes %}
    {% load staticfiles %}
    <script src="{% static "js/lib/codemirror.js" %}"></script>
    <script src="{% static "js"%}/mode/codemirror-compressed.js"></script>
{% endblock %}
{% block body %}
    {% if errors %}
        <h5>Errors:</h5>
        <ul>
            {% for err in errors %}
                <li class="error">{{ err }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if snippet %}
		<h3>{{ snippet.name.capitalize }} by
		{% if snippet.user %}
			<a href="/accounts/view/{{ snippet.user.id }}">{{ snippet.user }}</a>
		{% else %}
			Anonymous
		{% endif %}
		</h3>
        <p>This is {{snippet.name}} by
            {% if snippet.user %}
                <a href="/accounts/view/{{ snippet.user.id }}">{{ snippet.user }}</a>.
            {% else %}
                Anonymous.
            {% endif %}
            It is written in
            <a href="/codesnippet/browse/language/{{ snippet.language|urlencode }}">{{ snippet.language }}</a>
            and is a
            <a href="/codesnippet/browse/category/{{ snippet.category|urlencode }}">{{ snippet.category }}</a> snippet. It has been viewed {{snippet.hits}} times.</p>
            <p><textarea id="editor">{{ snippet.body }}</textarea></p>
            <!--<label for="rating">Rating:</label>
            <span id="total_rating">{{ rating }}</span>-->
            <div class="empty">
                <div style="width: {{ rating_width }}" class="sventek"></div>
            </div>
            {% if user.is_authenticated %}
                <p>
                    You have given this snippet 
                        <span id="user_rating">
                            {{ rating_form.initial.rating }}
                        </span> Sventeks.
                </p>
            {% else %}
            {% endif %}
            <form id="rating_form" method="post"
                  action="/codesnippet/rating/{{ snippet.id }}/">
                {% csrf_token %}
                {{ rating_form.rating }}
            </form>
        {% if user.is_authenticated %}
                <form action="#" method="post">
                    {% csrf_token %}
                    <p><input type="checkbox" id="bookmark"
                        {% if bookmarked %}
                            checked
                        {% endif %}>Bookmark this snippet.<br/>
                    <span id="sbookmrk">
                        {% if bookmarked %}
                            Snippet is bookmarked.
                        {% endif %}
                    </span></p>
                </form>
        {% endif %}
        {% if not user.is_authenticated %}
            <p>
                <a href="/accounts/login/?next={{ request.path|urlencode }}">Login</a>
                to rate and comment on this snippet.
            </p>
        {% endif %}
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-size="large">Share</a>
        {% if comments %}
            {% for comment in comments %}
                <p class="comment">
                    <a href="/accounts/view/{{ comment.user.id }}">
                        {{ comment.user }} says:
                    </a><br/>
                    {{ comment.comment }}
                </p>
            {% endfor %}
        {% endif %}
        {% if user.is_authenticated %}
                <form id="comment_form" method="post"
                      action="/codesnippet/comment/{{ snippet.id }}/">
                    {% csrf_token %}
                    <p>Comment:</p>
                    {{ comment_form.comment }}<br />
                    <input type="submit" name="submit" value="Post Comment"/>
                </form>
        {% endif %}
        <script>
            $(document).ready(function() {
                var editor = $("#editor")[0];
                var langOpts = $("languages")[0];
                var myCodeMirror = CodeMirror.fromTextArea(editor, {
                    autofocus: true,
                    indentUnit: 4,
                    lineNumbers: true,
                    lineWrapping: true,
                    mode: "{{ snippet.language.mode }}",
                    readOnly: true,
                });
                 $("#rating_form").hide();
                // on change event for the rating posting
                $("#id_rating").change(function() {
                    $("#rating_form").submit();
                });
                
                // on click event for adding a bookmark of this snippet
                // to the users account.
                $("#bookmark").click(function() {
                    $.ajax({
                        url: "/codesnippet/bookmark/{{ snippet.id }}/",
                        type: "post",
                        data: {
                            "bookmark" : $("#bookmark").is(":checked") ? "1" : "0",
                            "csrfmiddlewaretoken": $("[name='csrfmiddlewaretoken']")[0].value
                        },
                        success: function(response) {
                            $("#sbookmrk").html(response);
                        }
                    });
                });
                
                var totalRating = {{ rating }};
                
                function getPercentWidth(rating) {
                    return (rating / 5) * 100;
                }
                
                {% if user.is_authenticated %}
                
                    $(".empty").mousemove(function(e) {
                        var startPos = $(".empty").offset().left;
                        var newWidth = e.pageX - startPos;
                        
                        newWidth = Math.ceil(newWidth/50.0) * 50;
                        if (newWidth > 250) newWidth = 250;
                        
                        var percentWidth = (newWidth / $(".empty").width()) * 100;
                        $(".sventek").width(percentWidth + "%");
                    });
                    
                    $(".empty").click(function(e) {
                        var rating = ($(".sventek").width() / $(".empty").width()) * 5;
                        
                        $.ajax({
                            url: "/codesnippet/rating/{{ snippet.id }}/",
                            type: "post",
                            data: {
                                "rating" : rating,
                                "csrfmiddlewaretoken": $("[name='csrfmiddlewaretoken']")[0].value
                            },
                            success: function(response) {
                                userRating = response["user_rating"];
                                totalRating = response["total_rating"];
                                $("#total_rating").html(totalRating);
                                $("#user_rating").html(userRating);
                                $(".sventek").width(getPercentWidth(totalRating) + "%");
                            }
                        });
                    });
                    
                    $(".empty").mouseleave(function(e) {
                        $(".sventek").width(getPercentWidth(totalRating) + "%");
                    });
                {% endif %}
                
                /* 
                 * jsrotate:
                 * Rotate Sventeks if we receive the the key sequence
                 * "jsr".
                 */
                
                var down = [];
                var J = 74, R = 82, S = 83;
                $(document).keydown(function(e) {
                    switch (e.keyCode) {
                        case J:
                            if (!down[S] && !down[R]) {
                                down[e.keyCode] = true;
                            }
                            break;
                        case R:
                            if (down[J] && down[S]) {
                                down[e.keyCode] = true;
                            }
                            break;
                        case S:
                            if (down[J]) {
                                down[e.keyCode] = true;
                            }
                            break;
                    }
                }).keyup(function(e) {
                    if (down[J] && down[R] && down[S]) {
                        $(".empty").css("background-image", "none");
                        $(".empty").width("360px");
                        $(".sventek").css("background-image",
                                          "url({{ STATIC_URL }}jsrotate.gif)");
                        down[J] = down[R] = down[S] = false;
                    } else if (e.keyCode != J && e.keyCode != R &&
                               e.keyCode != S) {
                        down[J] = down[R] = down[S] = false;
                    }
                });
            });
        </script>
    {% endif %}
{% endblock %}
