{% extends "base.html" %}
{% block title %}CodeBuzz - {{ snippet.name.capitalize }} by
    {% if snippet.user %}
        {{ snippet.user }}
    {% else %}
        Anonymous
    {% endif %}
{% endblock %}
{% block head_includes %}
    {% load staticfiles %}
    <script src="{% static "js/lib/codemirror.js" %}"></script>
    <script src="{% static "js"%}/mode/codemirror-compressed.js"></script>
{% endblock %}
{% block body %}
    {% if errors %}
        <h5>Errors:</h5>
        <ul>
            {% for err in errors %}
                <li class="error">{{ err }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if snippet %}
		<h3>{{ snippet.name.capitalize }} by
		{% if snippet.user %}
			<a href="/accounts/view/{{ snippet.user.id }}">{{ snippet.user }}</a>
		{% else %}
			Anonymous
		{% endif %}
		</h3>
        {% for name, value in snippet.attrs %}
            <p>
                <label for="{{ name }}">{{ name.capitalize }}:</label>
                {% if name == "body" %}
                    <textarea id="editor">{{ snippet.body }}</textarea>
                {% elif name == "user" and not value %}
                    Anonymous
                {% elif name == "user" %}
                    <a href="/accounts/view/{{ snippet.user.id }}">{{ value }}</a>
                {% elif name == "language" %}
                    <a href="/codesnippet/browse/language/{{ value }}">{{ value }}</a>
                {% else %}
                    {{ value }}
                {% endif %}
            </p>
        {% endfor %}
	    <p>
            <label for="rating">Rating:</label>{{ rating }}
            <form id="rating_form" method="post"
                  action="/codesnippet/rating/{{ snippet.id }}/">
                {% csrf_token %}
                {{ rating_form.rating }}
            </form>
        </p>
        {% if user.is_authenticated %}
            <p>
                <form action="" method="post">
                    {% csrf_token %}
                    <p><input type="checkbox" id="bookmark"
                        {% if bookmarked %}
                            checked
                        {% endif %}>Bookmark this snippet.<br />
                        {% if bookmarked %}
                            Snippet is bookmarked.
                        {% endif %}</p>
                    </span>
                </form>
            </p>
        {% endif %}
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-size="large">Share</a>
        {% if comments %}
            {% for comment in comments %}
                <p class="comment">
                    <a href="/accounts/view/{{ comment.user.id }}">
                        {{ comment.user }} says:
                    </a><br/>
                    {{ comment.comment }}
                </p>
            {% endfor %}
        {% endif %}
        {% if user.is_authenticated %}
            <p>
                <form id="comment_form" method="post"
                      action="/codesnippet/comment/{{ snippet.id }}/">
                    {% csrf_token %}
                    {{ comment_form.as_p }}
                    <input type="submit" name="submit" value="Post Comment"/>
                </form>
            </p>
        {% else %}
            <p class="center"><a href="/accounts/login/">Login</a> to comment on this snippet.</p>
        {% endif %}
        <script>
            $(document).ready(function() {
                var editor = $("#editor")[0];
                var langOpts = $("languages")[0];
                var myCodeMirror = CodeMirror.fromTextArea(editor, {
                    autofocus: true,
                    indentUnit: 4,
                    lineNumbers: true,
                    lineWrapping: true,
                    mode: "{{ snippet.language.mode }}",
                    readOnly: true,
                });
                
                // on change event for the rating posting
                $("#id_rating").change(function() {
                    $("#rating_form").submit();
                });
                
                // on click event for adding a bookmark of this snippet
                // to the users account.
                $("#bookmark").click(function() {
                    $.ajax({
                        url: "/codesnippet/bookmark/{{ snippet.id }}/",
                        type: "post",
                        data: {
                            "bookmark" : $("#bookmark").is(":checked") ? "1" : "0",
                            "csrfmiddlewaretoken": $("[name='csrfmiddlewaretoken']")[0].value
                        },
                        success: function(response) {
                            $("#sbookmrk").html(response);
                        }
                    });
                });
            });
        </script>
    {% endif %}
{% endblock %}
