{% extends "base.html" %}
{% block head_includes %}
    {% load staticfiles %}
    <script src="{% static "js/lib/codemirror.js" %}"></script>
    <script src="{% static "js"%}/mode/codemirror-compressed.js"></script>
{% endblock %}
{% block body %}
    {% if snippet %}
        {% for name, value in snippet.attrs %}
            <p>
                <label for="{{ name }}">{{ name.capitalize }}:</label>
                {% if name == "body" %}
                    <textarea id="editor">{{ snippet.body }}</textarea>
                {% elif name == "user" and not value %}
                    Anonymous
                {% else %}
                    {{ value }}
                {% endif %}
            </p>
        {% endfor %}
        <script>
            var editor = document.getElementById("editor");
            var langOpts = document.getElementById("languages");
            var myCodeMirror = CodeMirror.fromTextArea(editor, {
                autofocus: true,
                indentUnit: 4,
                lineNumbers: true,
                lineWrapping: true,
                mode: "{{ snippet.language.mode }}",
				readOnly: true,
            });
            function selectLang() {
                var mode = langOpts.options[langOpts.selectedIndex].value;
                myCodeMirror.setOption("mode", mode);
            }
        </script>
    {% endif %}
{% endblock %}