html {
    overflow-y: scroll;
}
body:before {
   content: "";
   position: fixed;
   top: -20px;
   width: 100%;
   height: 20px;
   left: 0;
   box-shadow: 0 0 20px rgba(0,0,0,.8);
}
body {
    background: rgb(178,206,217);
}
img {
    border: 0;
}
h2, h3, h4, h5, p, a, a:hover, li, h3 > a {
    color: rgb(102, 102, 102);
    font-family: sans-serif;
}
a, p > .navigationButton {
    color: rgb(51, 51, 51);
}
h1 {
    line-height: 3em;
    color: rgb(102, 102, 102);
    font-family: sans-serif;
}
p, a, a:hover, ul, ol, p > .navigationButton {
    line-height: 1.5;
    text-decoration: none;
}
p, ul, ol, a {
    font-size: 0.75em;
}
li > ol, li > ul, li > p, p > a, li > a, h3 > a, p > .navigationButton {
    font-size: 1em;
}
.container {
    margin: 2em auto;
	min-width: 40em;
    width: 95%;
    box-shadow: 0 0 20px rgba(0,0,0,.5);
}
.header, .section, .footer {
    margin: auto 1.5em;
}
.nav {
    width: 12em;
    float: left;
}
.nav, .article, .section {
    min-height: 20em;
    overflow: auto;
    background: rgb(249, 251, 251);
    border-radius: 0.5em;
}
.container, .header, .footer {
    background: rgb(235, 242, 244);
    border-radius: 1em;
}
.imageRight {
    float: right;
}
.navigation {
    margin-left: 1.65em;
}
.error {
    color: rgb(255, 0, 0);
}
.footer {
    height: 2em;
    text-align: center;
}
.navigationButton {
	float:left;
}
.login {
	display: block;
	height: 2em;
	padding-right:0.25em;
	padding-left:0.25em;
	padding-top:0.5em;
	margin-right:0.25em;
	margin-top:1.0em;
	float:right;
}
.navigationButton, .rightHandHeader {
	display: inline-block;
	box-shadow: 0 0 2px rgba(0,0,0,.5);
	height: 2em;
	border-radius: 0.5em;
	padding-right:0.25em;
	padding-left:0.25em;
	padding-top:0.5em;
	margin-right:0.25em;
	margin-top:-1.5em;
	background:#FFF;
}
.rightHandHeader {
	float:right;
}
.loggedIn {
	margin-top:0.25em;
}
.comment, .CodeMirror {
	border: 1px solid;
	margin-right: 1.5em;
}
.center {
    text-align: center;
}
.footerContent {
	float: right;
	margin-top: -2.2em;
}