{% extends "base.html" %}
{% block head_includes %}
    {% load staticfiles %}
    <script src="{% static "js/lib/codemirror.js" %}"></script>
    {% if modes %}
        {% for mode in modes %}
            <script src="{% static "js"%}/mode/{{ mode }}.js"></script>
        {% endfor %}
    {% endif %}
{% endblock %}
{% block body %}
	{% if user.is_authenticated %}
		<h4>Welcome back {{ user.username }}, please post a code snippet.</h4>
	{% else %}
		<h4>Welcome to CodeBuzz, please post a code snippet.</h4>
	{% endif %}
    {% if form %}
        <form method="post" action="/codesnippet/">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" name="submit" value="Post Snippet"/>
        </form>
    {% endif %}
    <script>
        var editor = document.getElementById("editor");
        var langOpts = document.getElementById("languages");
		var myCodeMirror = CodeMirror.fromTextArea(editor, {
			autofocus: true,
			indentUnit: 4,
    		lineNumbers: true,
			lineWrapping: true,
  		});
        function selectLang() {
            var mode = langOpts.options[langOpts.selectedIndex].value;
            myCodeMirror.setOption("mode", mode);
        }
    </script>
{% endblock %}