{% extends "base.html" %}
{% block head_includes %}
    <script src="{% static "js/lib/codemirror.js" %}"></script>
    <link rel="stylesheet" href="{% static "js/lib/codemirror.css" %}">
    {% if modes %}
        {% for mode in modes %}
            <script src="{% static "js"%}/mode/{{ mode }}.js">
            </script>
        {% endfor %}
    {% endif %}
{% endblock %}
{% block body %}
    <script>
        var myCodeMirror = CodeMirror(document.body, {
          mode: "text/x-csrc"
        });
    </script>
    {% if modes %}
        {% for mode in modes %}
            <p>{{ mode }}</p>
        {% endfor %}
    {% endif %}
{% endblock %}
