{% extends "base.html" %}
{% block title %}CodeBuzz - Login{% endblock %}
{% block body %}
    {% if user.is_authenticated %}
        <p>Welcome, {{ user.username }}</p>
    {% else %}
        <h3>User Login</h3>
        {% if msg %}
            <p class="error">{{ msg }}</p>
        {% endif %}
        <form action="#" method="post">
            {% csrf_token %}
            <p>Username: <input type="text" name="username"></p>
            <p>Password: <input type="password" name="password"></p>
            <input type="submit" name="login" value="Login"/>
        </form>
    {% endif %}
{% endblock %}
