{% extends "base.html" %}
{% block head_includes %}
    {% load staticfiles %}
    <script src="{% static "js/lib/codemirror.js" %}"></script>
    <script src="{% static "js"%}/mode/codemirror-compressed.js"></script>
{% endblock %}
{% block body %}
    {% if snippet %}
        <p><label for="name">Name:</label>{{ snippet.name }}</p>
        <p><label for="body">Body:</label><textarea id="editor">{{ snippet.body }}</textarea></p>
        <p><label for="rating">Rating:</label>{{ snippet.rating }}</p>
        <p><label for="lang">Language:</label>{{ snippet.language }}</p>
        <p><label for="cat">Category:</label>{{ snippet.category }}</p>
        <script>
            var editor = document.getElementById("editor");
            var langOpts = document.getElementById("languages");
            var myCodeMirror = CodeMirror.fromTextArea(editor, {
                autofocus: true,
                indentUnit: 4,
                lineNumbers: true,
                lineWrapping: true,
                mode: "{{ snippet.language.mode }}",
            });
            function selectLang() {
                var mode = langOpts.options[langOpts.selectedIndex].value;
                myCodeMirror.setOption("mode", mode);
            }
        </script>
    {% endif %}
{% endblock %}